
select {
  background-color: transparent;
  position: relative;
  font-family: inherit;
  font-size: 100%;
  border: 0;
  outline: 0;
}

#dropdown-year {
  color: white;
  font-size: 40px;
  position: relative;
  font-family: 'Montserrat';
}

#dropdown-data {
  max-width: 220px;
  margin-bottom: 10px;
  position: absolute;
  right: 25%;
  left: 36%;
  padding: 4px;
  font-size: 17px;
}

option {
  color: black;
  background: white;
}