#legendContainer {
  flex: 2;
  overflow-y: scroll;
  min-width: 100%;
  border-radius: 5px;
}

#legend {
  position: relative;
  border-collapse: collapse;
  margin-bottom: 15px;
  font-size: 0.9em;
  min-width: 100%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);

}

th, td {
  padding: 5px;
  text-align: left;
  width: 200px;
}

table {
  position: relative;
}

th {
  position: -webkit-sticky;
  position: sticky;
  z-index: 2;
  top: 0;
}

thead tr {
  background-color: #3c4750;
  color: white;
  text-align: left;
  display: block;
}



/* default for other parties is a light grey */
tbody tr {
  background-color: #f1f1f0;
  border-bottom: 2px solid #FFFFFF;
}

/* rows classed with party Electoral Commission ID for colouring */
tbody .PP52, tbody .PP51 {
  background-color: #0087DC, 0.5;
}
tbody .PP53 {
  background-color: #E4003B;
}
tbody .PP102 {
  background-color: #FDF38E;
}
tbody .PP90 {
  background-color: #FAA61A;
}
tbody .PP70 {
  background-color: #D46A4C;
}
tbody .PP39 {
  background-color: #326760;
}
tbody .PP77 {
  background-color: #008142;
}
tbody .PP55 {
  background-color: #2AA82C;
}
tbody .PP63, tbody .PP130, tbody .PP305 {
  background-color: #528D6B;
}
tbody .PP103 {
  background-color: #F6CB2F;
}