#legendContainer {
  flex: 2;
  overflow-y: scroll;
  min-width: 100%;
  border-radius: 5px;
}

#legend {
  position: relative;
  border-collapse: collapse;
  margin-bottom: 15px;
  font-size: 0.9em;
  min-width: 100%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

#candidate-list th, #candidate-list td {
  padding: 5px;
  text-align: left;
  width: 200px;
}

#candidate-list thead tr {
  background-color: #3c4750;
  color: white;
  text-align: left;
  display: block;
}

/* default for other parties is a light grey */
#candidate-list tbody tr {
  background-color: #f1f1f0;
  border-bottom: 2px solid #FFFFFF;
}