
body {
  font-size: 100%;
  margin: 0px;
  box-sizing: boarder-box;
  background-color:rgba(105,105,105,0.1);
  font-family: Fjalla One;
}

.header {
   display: flex;
   justify-content: left;
   align-items:center;
   background: rgba(72,72,72,0.2);
}

.logo {
  position: relative;
  height: 50px;
}


section {
  background-color: white;
  padding: 10px;
  margin: 5px;
  height: 600px;
}

aside {
 background-color: white;
 padding: 10px;
 margin: 5px;

}

.main-flex {
   display: flex;
}

.map {
  flex: 2.7;
}

.graph {
  flex: 2;
}

.table {
  flex: 1.3;
}