.search {
    overflow: hidden;
    background-color: #e9e9e9;
}


/*
.search a {
    position: absolute;
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 10px 14px;
    font-size: 14px;
}
*/

.search .search-container {
    float:right;
}

/* search bar */
.search input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 13px;
    font-family: Fjalla One;
    width: 70%;
}

/* search button */
.search .search-container button {
    /* position: absolute; */
    float: right;
    padding: 6px 8px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    cursor: pointer;
}

/* hover over search button */
.search .search-container button:hover {
    background: #ccc;
}