#listContainer {
  flex: 3;
  overflow-y: scroll;
  margin: 15px 0;
  min-width: 100%;
}

#candList {
  border-collapse: collapse;
  font-size: 0.9em;
  font-family: Fjalla One;
  min-width: 100%;
}

/* overflow: auto used so scrollbar only appears when content overflows*/
#candList tbody {
    min-height: 520px;
    overflow: auto;
    display: block;
}

/* sorting table*/
#candList th {
    cursor: pointer;
}
#candList .th-sort-asc::after {
    content: "\25b4";
}
#candList .th-sort-desc::after {
    content: "\25be";
}
#candList .th-sort-asc::after,
#candList .th-sort-desc::after {
    margin-left: 5px;
}
/* font style italic for column selected ascending */
#candList .th-sort-asc,
#candList .th.sort.desc {
    font-style: italic;
}
